/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
/* Peru, */
/* Base Styles */
* {
  box-sizing: border-box;
}
html {
  font-size: 1.25em; /* 20/16 = 1.25em */
  line-height: 1.2em; /* 24/20 = 1.2em */
  background-color: #DCDCDC;
  font-family: Helvetica, Arial, serif;
}
/* General layout */

p,
article,
section,
figcaption,
header,
#welcomer {
  padding-bottom: 1.2em; /* 24/20 = 1.2em */
}
h1,
.welcome,
#ground-up,
#hiking-locations,
.hiking-travel,
#enjoy-movies,
#movies,
#fav-movies,
#enjoy-games,
#fav-games,
#enjoy-sites,
#favorite-sites {
  text-align: center;
}
header {
  font-size: 1.2em; /* 24/20 = 1.2em */
}
h1 {
  font-size: 1.5em; /* 30/20 = 1.5em */
  line-height: 1.6em; /* 48/30 = 1.6em */
}
h2 {
  font-weight: bold;
}
#copyright {
  background-color: #A9A9A9;
  border-top: 0.15em solid black; /* 3/20 = 0.15em */
}

/* Hobbies Page Styles */
#enjoy-movies,
#enjoy-games,
#enjoy-sites,
#hiking-locations {
  padding-top: 0.6em; /* 12/20 = 0.6em */
  padding-bottom: 0.6em; /* 12/20 = 0.6em */
}
.hiking-travel,
figure {
  padding-top: 0.6em; /* 12/20 = 0.6em */
}
#welcomer {
  padding-top: 1.2em;  /* 24/20 = 1.2em */
}
#hiking {
  padding-bottom: 0.6em; /* 12/20 = 0.6em */
}
#favorite-sites {
  padding-bottom: 2.4em; /* 48/20 = 2.4em */
}

/* Responsive Images */
figure {
  display: flex;
  position: relative;
}
figcaption {
  position: absolute;
  width: 100%;
  bottom: 0; /* 20/16 = 1.25em */
  color: grey;
  background: rgba(20,20,20,0.6);
}
img {
  display: block;
  max-width: 100%;
}

/* Navigation Bar */
nav {
  background-color: #A9A9A9;
  border-top: 0.15em solid black; /* 3/20 = 0.15em */
  border-bottom: 0.15em solid black; /* 3/20 = 0.15em */
  padding-top: 1.2em; /* 24/20 = 1.2em */
}
#nav-links li {
  display: flex;
  justify-content: center;
}
#nav-links a {
  font-weight: bold;
  color: black;
  display: block;
  text-decoration: none;
  margin-bottom: 1.2em; /* 24/20 = 1.2em */
}

/* Resume Page */
#content-resume {
  margin-left: 1.2em; /* 24/20 = 1.2em */
}

/* Media Queries */
@media screen and (min-width: 56.25em) /* 900/16 = 56.25em */ {
  figure {
    max-width: 50%;
    margin: 0 auto;
    max-height: 50%;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 43.75em) /* 700/16 = 43.75em */ {
  #nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  nav {
    padding-bottom: 0;
  }
}

/*
.g body { position: relative; }

  .g body::after {
    background: url('data:image/svg+xml;utf8,<svg height="24" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(255, 0, 0, 0.3)" /></svg>') repeat top left;
    content: "";
    display: block;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    position: absolute;
  }

  .g body:active::after { display: none; }
*/
