/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
/* Peru, */
* {
  box-sizing: border-box;
}

html {
font-size: 24px; /* 24  / 16 = 1.5em */
line-height: 28.8px;
background-color: #A9A9A9;
font-family: "Time's new Roman", "Arial", "Times";
}
header, p, h2, article, section, figcaption {
  padding-bottom: 28.8px;
}
#ground-up {
  padding-bottom: 0px;
}
header {
  font-size: 28.8px;
}
h2 {
  font-weight: bold;
}

nav {
font-size: 20px;
}
#nav-links li {
  background-color: #808080;
  display: flex;
  justify-content: center;
}
#nav-links a {
  color: white;
  display: block;
  line-height: 0;
  padding: 28.8px;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%
  }
  @media screen and (min-width: 1000px) {
    img {
      max-width: 50%;
      margin: 0 auto;
      max-height: 50%;
    }
    body {
    text-align: center;
    }
  }


/*
.g body { position: relative; }

  .g body::after {
    background: url('data:image/svg+xml;utf8,<svg height="28.8" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(255, 0, 0, 0.3)" /></svg>') repeat top left;
    content: "";
    display: block;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    position: absolute;
  }

  .g body:active::after { display: none; }
