/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
/* Peru, */
* {
  box-sizing: border-box;
}

html {
  font-size: 20px; /* 24  / 16 = 1.5em */
  line-height: 24px;
  background-color: #DCDCDC;
  font-family: Helvetica, Arial, serif;
}
p,
article,
section,
figcaption,
header
 {
 padding-bottom: 24px;
}
h1,
.welcome,
#ground-up,
p,
#hiking-locations,
.hiking-travel,
#enjoy-movies,
#movies,
#fav-movies,
#enjoy-games,
#fav-games,
#enjoy-sites,
#favorite-sites
 {
   text-align: center;
}

#ground-up {
  padding-bottom: 0px;
}
figure {
  padding-top: 24px;
  display: flex;
  position: relative;
}
#hiking {
  padding-bottom: 12px;
}
figcaption {
  position: absolute;
  width: 100%;
  bottom: 0px;
  color: grey;
  background: rgba(20,20,20,0.6);
}
header {
  font-size: 24px;
}
h1 {
  font-size: 30px;
  line-height: 30px; /* 24 * 1.5 = 30 */
  padding-top: 12px;
}
h2 {
  font-weight: bold;
}
nav {
    background-color: #A9A9A9;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding: 24px;
}

#nav-links li {
  display: flex;
  justify-content: center;
}
#nav-links a {
font-weight: bold;
  color: black;
  display: block;
  text-decoration: none;
  margin-bottom: 24px;
}
img {
  display: block;
  max-width: 100%;
}
#liam-footer {
  background-color: #A9A9A9;
  border-top: 3px solid black;
}
@media screen and (min-width: 900px) {
  #forest {
    max-width: 50%;
    margin: 0 auto;
    max-height: 50%;
  }
  }
@media screen and (min-width: 700px) {
   #nav-links  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
      }
      nav {
        padding-bottom: 0px;
      }

}





.g body { position: relative; }

  .g body::after {
    background: url('data:image/svg+xml;utf8,<svg height="24" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(255, 0, 0, 0.3)" /></svg>') repeat top left;
    content: "";
    display: block;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    position: absolute;
  }

  .g body:active::after { display: none; }
*/
